body {
    background-image: url('https://i.pinimg.com/originals/2f/4e/bd/2f4ebd2590c88cfa5340e131abe1b6b4.jpg');
	background-image: url('https://i.pinimg.com/originals/2f/4e/bd/2f4ebd2590c88cfa5340e131abe1b6b4.jpg'), linear-gradient(180deg,  rgb(27, 4, 4) 23.8%, rgb(172, 172, 172) 92% ),;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
    border-radius: 25px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: rgb(145, 170, 165);
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
    border-radius: 25px
}

button:active {
	transform: scale(1.1);
}

button:focus {
	outline: none
}